<div class="d-flex justify-content-between">
  <h2><%= @restaurant.name %></h2>
  <p>
    <%= link_to restaurants_path, class:"btn btn-primary text-decoration-none" do %>
      <i class='fa-solid fa-clock-rotate-left'></i> Return to all restaurants
    <% end %>
  </p>
</div>

<div class="alert alert-dark text-dark">
  <p><strong>Address :</strong> <%= @restaurant.address %></p>
  <p><strong>Category :</strong> <%= @restaurant.category.capitalize %></p>
  <p><strong>Phone number :</strong> <%= @restaurant.phone_number %></p>
</div>

<div class="alert alert-dark text-dark">
  <p><strong>Reviews</strong></p>
  <ul class="list-group-item list-unstyled">
    <% @restaurant.reviews.each do |review| %>
      <div class="border-bottom border-1">
        <small>
          <li><strong>Content :</strong> <%= review.content %></li>
          <li>
              <strong>Rating :</strong>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
          </li>
        </small>
      </div>
    <% end %>
  </ul>
</div>

<div class="alert alert-dark text-dark">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, placeholder: 'Some content'%>
    <%= f.input :rating, collection: 0..5, prompt: 'Select a rating' %>
    <%= f.submit "Submit review", class: 'btn btn-primary' %>
  <% end %>
</div>
